<a href="https://colab.research.google.com/github/masaduzzaman319/python/blob/master/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**bold text**# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data","Science","Mentorship","Program","started","By","CampusX",sep = "-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
#c/5=(f-32)/9
#9c=5f-160
#f=9/5c+32
c_input = int(input("Enter the tempperature in celcious: "))
f=((9/5)*c_input+32)
print(f"{c_input}°C is equil to {f}°F")

Enter the tempperature in celcious: 0
0°C is equil to 32.0°F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
input_one = int(input("Enter first input: "))
input_two = int(input("Enter seconf input: "))
print(input_one)
print(input_two)
temp = input_one
input_one = input_two
input_two = temp

print(input_one)
print(input_two)

Enter first input: 111
Enter seconf input: 222
111
222
222
111

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
value_of_principle = int(input("Enter The amount of value of principle: "))
rate_of_interest = int(input("Enter The amount of rate of interest: "))
time_period = int(input("Enter The time period: "))

simple_interest = (value_of_principle*rate_of_interest*time_period)/100
print("Simple Interest",simple_interest)

Enter The amount of value of principle: 1000
Enter The amount of rate of interest: 5
Enter The time period: 2
Simple Interest 100.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here
#D = number of dogs
#C = number of chickens
#H = total number of heads
#L = total number of legs


#Each animal has one head, so:
#D + C = H — (1)

#Dogs have 4 legs, chickens have 2 legs, so:
#4D + 2C = L — (2)

#From equation (1), we get:
#C = H - D


#Substitute in (2):
#4D + 2(H - D) = L
#4D + 2H - 2D = L
#(4D - 2D) + 2H = L
#2D + 2H = L
#2D = L - 2H
#D = (L - 2H) / 2

#Then, from (1):
#C = H - D = H - (L - 2H)/2 = (2H - (L - 2H)) / 2 = (4H - L) / 2


H = int(input("Enter the Number of head: "))
L = int(input("Enter the number of legs: "))
D = (L-2*H)/2
C = (4*H-L)/2
print("dogs ->",D)
print("chicken ->",C)

Enter the Number of head: 8
Enter the number of legs: 22
dogs -> 3.0
chicken -> 5.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here
n = int(input("Enter the number n: "))
sum_of_squares_of_first_n_natural_numbers = (n*(n+1)*(2*n+1))/6
print("sum of squares of first n natural numbers: ",sum_of_squares_of_first_n_natural_numbers)

Enter the number n: 5
sum of squares of first n natural numbers:  55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
#Write your code here
#Formula for the Nth term of an Arithmetic Series:
#an=A1+(N-1)D
#an  is the Nth term
#A1 is  the first term
#D is the common difference
#D= A2-A1
a1 = int(input("Enter the first term: "))
a2 = int(input("Enter the second term: "))
n = int(input("Enter the term input: "))
d = a2-a1
an = a1+(n-1)*d
print("Nth Term of the series:",an)

Enter the first term: 2
Enter the second term: 5
Enter the term input: 4
Nth Term of the series: 11

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the

1.   List item
2.   List item

numerator and denominator values of the fractions from the user.

In [4]:
# Write your code here
a = int(input("Enter numerator of first fraction: "))
b = int(input("Enter denominator of first fraction: "))
c = int(input("Enter numerator of second fraction: "))
d = int(input("Enter denominator of second fraction: "))

numerator = a*d +c*b
denomirator = b*d
print("The sum of the fraction is: ",numerator,"/",denomirator)

Enter numerator of first fraction: 1
Enter denominator of first fraction: 2
Enter numerator of second fraction: 1
Enter denominator of second fraction: 3
The sum of the fraction is:  5 / 6

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
h=int(input("Enter the tank height in cm: "))
l=int(input("Enter the length of tank in cm: "))
b = int(input("Enter the breadth of the tank in cm: "))
h2 = int(input("Enter the height og glass in cm: "))
r = int(input("Enter the radius of the glass in cm: "))
pi = 3.1416
tank_volume = h*l*b
glass_volume = pi*r*r*h2
num_of_glasses = tank_volume//glass_volume
print("Number of full glasses of milk: ",int(num_of_glasses),"cm\u00b3")

Enter the tank height in cm: 20
Enter the length of tank in cm: 20
Enter the breadth of the tank in cm: 20
Enter the height og glass in cm: 3
Enter the radius of the glass in cm: 1
Number of full glasses of milk:  848 cm³