<a href="https://colab.research.google.com/github/masaduzzaman319/python/blob/master/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [3]:
# Write code here

ctc = float(input("Enter your CTC in lakh: "))


annual_ctc = ctc * 100000

hra = 0.10 * annual_ctc
da = 0.05 * annual_ctc
pf = 0.03 * annual_ctc
total_deduction = hra+da+pf


if ctc <5:
    tax = 0
elif ctc>= 5 and ctc <=10:
    tax = 0.10 * annual_ctc
elif ctc>= 10 and ctc <= 20:
    tax = 0.20 * annual_ctc
else:
    tax = 0.30 * annual_ctc


in_hand_annual = annual_ctc - total_deduction-tax


monthly_salary = in_hand_annual / 12
print("Monthly sallary is: ₹", round(monthly_salary,2))

Enter your CTC in lakh: 15
Monthly sallary is: ₹ 77500.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
angle_1=int(input('Enter the first angle: '))
angle_2=int(input('Enter the second angle: '))
angle_3=int(input('Enter the third angle: '))

if (angle_1+ angle_2 + angle_3 == 180):
    print('Triangle formation is possible')
else:
    print("Triangle formation is not possible.")

Enter the first angle: 100
Enter the second angle: 30
Enter the third angle: 50
Triangle formation is possible

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
buying_price = int(input('Enter the buying price:'))
selling_price = int(input('Enter the selling price:'))
if buying_price>selling_price:
    print('Loss.')
elif buying_price<selling_price:
    print('Profit')
else:
    print("Buying and selling price is same no profit or loss")

Enter the buying price:10
Enter the selling price:10
Buying and selling price is same no profit or loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [5]:
# Write code here

while True:
    print("\nConversion Menu:")
    print("1. cm to ft")
    print("2. km to miles")
    print("3. USD to INR")
    print("4. Exit")

    choice = input("Enter your choice(1-4): ")

    if choice == "1":
        cm = float(input("Enter value in centimeters: "))
        ft = cm / 30.48
        print("Value in feet: ", round(ft, 2))

    elif choice == "2":
        km = float(input("Enter value in kilometers: "))
        miles = km * 0.621371
        print("Value in miles: ", round(miles, 2))

    elif choice == "3":
        usd = float(input("Enter value in USD: "))
        inr = usd * 83  # Fixed exchange rate
        print("Value in INR: ₹", round(inr, 2))

    elif choice == "4":
        print("Exiting the program.")
        break

    else:
        print("Invalid choice. Please enter 1 to 4.")

Conversion Menu:
1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Enter your choice(1-4): 3
Enter value in USD: 100
Value in INR: ₹ 8300.0

Conversion Menu:
1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Enter your choice(1-4): 1
Enter value in centimeters: 1000
Value in feet:  32.81

Conversion Menu:
1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Enter your choice(1-4): 2
Enter value in kilometers: 23
Value in miles:  14.29

Conversion Menu:
1. cm to ft
2. km to miles
3. USD to INR
4. Exit
Enter your choice(1-4): 4
Exiting the program.

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [6]:
# Write code here
a = 0
b = 1
count = 0

print("Fibonacci series up to 10 terms:")

while count < 10:
    print(a, end=' ')
    next_term = a + b
    a = b
    b = next_term
    count += 1

Fibonacci series up to 10 terms:
0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [7]:
# Write code here

num = int(input("Enter a number to find its factorial: "))

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = 1
    i = 1
    while i <= num:
        factorial = factorial * i
        i += 1
    print("The factorial of", num, "is", factorial)

Enter a number to find its factorial: 5
The factorial of 5 is 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [8]:
num = int(input("Enter an integer number: "))
reverse = 0

original = num

is_negative = False
if num < 0:
    is_negative = True
    num = -num

while num != 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num = num // 10

if is_negative:
    reverse = -reverse

print("Reversed number of", original, "is:", reverse)

Enter an integer number: -1234
Reversed number of -1234 is: -4321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [14]:
N = int(input("Enter an integer N: "))

total_sum = 0
i = 1

while i <= N:
    if i % 5 == 0:
        i += 1
        continue

    total_sum += i

    if total_sum > 300:
        total_sum -= i  # subtract the last added number that caused sum > 300
        break

    i += 1

print("Final sum:", total_sum)

Enter an integer N: 50
Final sum: 276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here
num = int(input("Enter a number: "))

if num<2:
    print(f"{num} is not prime.")
else:
    is_prime = True
    i = 2

    while i <= int(num**.5):
        if num % i == 0:
            is_prime = False
            break
        else:
            i +=1
    if is_prime:
        print(f"{num} is prime.")
    else:
        print(f"{num} is not prime")

Enter a number: 2
2 is prime.

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here
num = int(input('Enter the number: '))
n = len(str(num))
sum = 0
temp = num
while temp > 0:
    digit = temp%10
    sum = sum + (digit**n)
    temp = temp // 10
if sum == num:
    print("Armstrong Number")
else:
    print("Not Armstrong Number")

Enter the number: 153
Armstrong Number

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

H = int(input("Enter the value of {H} : "))
M = int(input("Enter the value of {M} : "))
Minute_Hand_Angle = M * 6
Hour_hand_Angle = (H % 12) * 30 + (M * 0.5)

angle_between_them = abs(Hour_hand_Angle - Minute_Hand_Angle)
minimum_angle = min(angle_between_them,360 - angle_between_them)
print(minimum_angle)

Enter the value of {H} : 9
Enter the value of {M} : 0
90.0

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here
x1 = int(input('Enter the value of x1: '))
y1 = int(input('Enter the value of y1: '))
x2 = int(input('Enter the value of x2: '))
y2 = int(input('Enter the value of y2: '))

x3 = int(input('Enter the value of x1: '))
y3 = int(input('Enter the value of y1: '))
x4 = int(input('Enter the value of x2: '))
y4 = int(input('Enter the value of y2: '))


if x1 > x4 or x3 > x2:
    print("Not Overlapping")
elif y1 <y4 or y3 < y2:
    print("Not Overlapping")
else:
    print("Overlapping")

Enter the value of x1: 0
Enter the value of y1: 10
Enter the value of x2: 10
Enter the value of y2: 0
Enter the value of x1: 5
Enter the value of y1: 5
Enter the value of x2: 15
Enter the value of y2: 0
Overlapping